header {
  display: flex;
  width: 60vw;
  span {
    text-transform: capitalize;
  }
  div {
    text-align: center;
  }
  #anchor-nav {
    color: white;
    background: $clr-primary;
    border-radius: 5px;
    padding: 0 0.5em;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    &:hover,
    &:focus
    //active + visited
    {
      color: black;
      background: $clr-primary-lt;
    }
  }
}
