header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //width: calc(100% - 350px); // h1+padding
  div {
    text-align: center;
    line-height: 2em;
    margin-left: 2em;
  }
  .tag {
    text-transform: capitalize;
  }
  #anchor-nav {
    color: white;
    background: $clr-primary;
    border-radius: 5px;
    padding: 0 0.5em;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    &:hover,
    &:focus
    //active + visited
    {
      color: black;
      background: $clr-primary-lt;
    }
  }
}


#introduction h1 {
  color: $clr-primary;
  font-size: 36px;
  text-align: right;
  display: inline;
  position: absolute;
  top: 16px;
  right: 16px;
  padding-top: 16px;
}
