article {
  text-align: center;
  margin: 2.5em auto;
  @include tablets {
    width: calc(100% / 3);
  }
  h2 {
    color: $clr-primary-lt;
    font-size: 36px;
  }
  p {
    margin: 0.5em;
  }
  p:first-child {
    color: $clr-primary;
    font-size: 13px;
  }
  p:nth-child(2) {
    color: black;
    font-size: 10px;
  }
  p:last-child {
    color: $clr-secondary;
    font-size: 9px;
  }
}
