.btn {
  color: white;
  background: $clr-primary;
  width: 170px;
  height: 56px;
  border-radius: 5px;
  padding: 1em;
  &:hover,
  &:focus
  //active + visited
  {
    color: black;
    background: $clr-primary-lt;
  }
  &:not(select) {
    cursor: pointer;
  }
}