.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  //background-color: $clr-secondary-lt;
  &-content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation: modalopen 0.5s;
    background: #db8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: black;
    padding-top: 10px;
    //box-shadow: 10px 10px 10px 0px #cfcfcf;
  }
  &-title {
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
  &-body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  #msg {
    height: 180px;
  }
  label {
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }
  input {
    padding: 8px;
    outline: none;
    margin: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    &.btn {
      font-size: 1em;
      width: 180px;
    }
  }
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.8em;
    color: $clr-primary;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 1em;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid $clr-primary;
  }
  &-close {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 1;
    cursor: pointer;
    font-size: 2.5em;
    color: white;
  }
}


@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
