#photographer-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 5em auto;
  padding: 0;
  border-radius: 5px;
  max-width: 1240px;
  @include tablets {
    padding: 3em;
    background-color: $clr-secondary-lt;
  }
  img {
    z-index: -1;
    align-self: baseline;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    margin-right: 1em;
    background: #c4c4c4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    @include tablets {
      z-index: 0;
      width: 150px;
      height: 150px;
      margin: 1em;
    }
  }
  .modal-btn {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 140px;
    font-weight: 700;
    padding: 0.5em 1em;
    @include tablets {
      position: relative;
      top: -50px;
      height: 64px;
      width: 170px;
    }
  }
  h1 {
    color: $clr-primary-lt;
    font-size: 36px;
    margin-right: 3em;
  }
  p:first-of-type {
    color: $clr-primary;
    font-size: 24px;
    padding: 0.8em 0;
  }
  p:last-of-type {
    color: $clr-secondary;
    font-size: 18px;
    padding-bottom: 0.8em;
  }
  img {
    position: absolute;
    right: 0;
    @include tablets {
      position: relative;
    }
  }
}

.total {
  width: auto;
  background: $clr-primary-lt;
  position: fixed;
  bottom: -2px;
  right: 10%;
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: bold;
  display: none;
  @include tablets {
    display: flex;
  }
  i {
    margin-right: 1em;
    margin-left: 0.3em;
  }
}
