html,
body,
*,
*:before,
*:after {
  font-family: $ff-base;
}

body {
  padding: 1em;
  font-weight: 400;
  max-width: 1500px;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  max-width: 1500px;
}

a {
  text-decoration: none;
  cursor: pointer;
}